@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
	font-family: 'Roboto', sans-serif;
	outline: none;
	color: #4A4A4A;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}

body {
	background-color: #FAFAFA;
	margin: 0;
}

.bold {
	font-weight: 500;
	color: inherit;
}

.highlight {
	color: #EA456D;
}

.container {
	width: 100%;
}
	.container .statusbar {
		height: 20px;
		background-color: #ED6989;
	}
	.container .navbar {
		height: 50px;
		background-color: #EA456D;
	}

	.productsingle .author {
		color: #9B9B9B;
		font-size: 12px;
		padding: 15px 24px 15px 24px;
	}

	.productsingle .image img {
		width: 375px;
		height: 375px;
	}

	.productsingle .description {
		color: #9B9B9B;
		font-size: 12px;
		padding: 15px 24px 15px 24px;
		line-height: 1.5;
	}

	.productsingle .cta-bar {
		height: 70px;
		background-color: #FFF;
		border: 1px solid #EFEFEF;
		margin-bottom: 20px;
	}
		.cta-bar table {
			width: 100%;
			height: 100%;
			padding-left: 24px;
			padding-right: 24px;
		}
		.cta-bar table td {
			font-size: 12px;
			vertical-align: middle;
		}
			td.name {
				text-align: left;
				font-weight: 500;
			}
			td.price {
				text-align: right;
				color: #9B9B9B;
			}
			td.due {
				text-align: center;
				color: #FEC002;
			}
			td.button-wrapper {
				text-align: left;
				padding-left: 10px;
				font-weight: 500;
			}
				td.button-wrapper .button {
					padding: 10px 4px;
					background-color: #FEC002;
					text-align: center;
					border-radius: 1000px;
					color: #FFF;
					cursor: pointer;
				}
	.container .back {
		padding: 12px 4px;
		border: 1px solid #EFEFEF;
		background-color: #FFF;

		font-size: 12px;
		font-weight: 500;
		color: #ED6989;
		text-align: center;
		margin-top: 100px;
	}








